* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(25, 89, 114);
    color: rgb(19, 15, 15);
}

.container{ 
    display: flex;
    border-radius: 50px;
    padding: 50px 100px 100px 60px;
    margin: 150px auto;
    max-width: 640px;
    width: 100%;
    background-color: rgb(206, 94, 94);
}

form {
    display: block;
    width: 500px;
}

h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Edu SA Beginner', cursive;
    font-weight: bold;
}

input,
h2  {
    margin-bottom: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    font-size: 27px
}

input {
    height: 25px;
    width: 45px;
    border-radius: 6px;
}

button {
    margin-top: 40px;
    height: 200px;
    width: 200px;
    background-color:rgb(34, 190, 131);
    border-color: rgb(41, 117, 22);
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
}

button img {
    border-radius: 7px;
}

.container .error img,
.container .sucess img {
    height: 200px;
    border-radius: 7px;
}
.error{
    display: none;
    margin-top: 40px;
    margin-left: 150px;
    justify-content: center;
    background-color: rgba(20, 3, 3, 0.87);
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    height: 300px;
}

.error p {
    margin-top: 30px;
    margin-left: 10px;
    width: 250px;
    color: red;
}

.sucess {
    display: none;
    margin-top: 40px;
    margin-left: 150px;
    justify-content: center;
    background-color: rgba(20, 3, 3, 0.87);
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    width: 200px;
    height: 325px;
}

.sucess p {
    margin-top: 30px;
    margin-left: 10px;
    width: 250px;
    font-size: 25px;
    color: green;
}